<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vue.module.board.dao.db1.BoardDAO">
    <select id="getSearch" resultType="com.example.vue.module.board.model.BoardVO"> 
        SELECT id, title, contents, cnt, writer, insert_date, update_date
        FROM tb_board
    </select>
    <select id="boardListData" resultType="com.example.vue.module.board.model.BoardVO"> 
    	SELECT id, title, cnt, writer, TO_CHAR(insert_date,'YYYY-MM-DD') as insert_date, TO_CHAR(update_date,'YYYY-MM-DD')
		FROM tb_board 
		WHERE id BETWEEN #{start} AND #{end} ORDER BY id DESC
    </select>
    <select id="boardTotalPage" resultType="int">
      	SELECT CEIL(COUNT(*)/10.0) 
      	FROM tb_board  
    </select>

</mapper>